@page "/{CoinId}"
@inject HttpClient Http
@using System.Text.Json.Serialization;
<PageTitle>@CoinId</PageTitle>
@if (coinData != null && coinData.Count > 0)
{
    @foreach (var coin in coinData)
    {
                  <link rel="icon" type="image/png" href="@coin.Image" />
                  <div class="container">
                    <h3>
                    <img src="@coin.Image" style="height: 50px; width: 50px; vertical-align: middle; margin-right: 5px;">
                    @coin.Name
                    </h3>
                    @if (coin.CurrentPrice > 1) {
                            <strong><h2 class="card-text" id="price">€@coin.CurrentPrice.ToString("N2")</h2></strong>   
                        } else {
                            <strong><h2 class="card-text" id="price">€@coin.CurrentPrice.ToString("N8")</h2></strong>
                        }
                    @if (@coin.PriceChange24H > 0)
                    {
                        <p><small class="text-success">+€@coin.PriceChange24H (@coin.PriceChangePercentage24H%) in the last 24 hours.</small></p>
                    } else {
                        <p class="card-text"><small class="text-danger">€@coin.PriceChange24H (@coin.PriceChangePercentage24H%) in the last 24 hours.</small></p>
                    }
                    <div class="row">
                    <div class="col-md-3 mt-2">
                        <p>Market Cap</p>
                        <p class="text-muted">€@coin.MarketCap.ToString("N2")</p>
                    </div>
                    <div class="col-md-3 mt-2">
                        <p>All Time High</p>
                        @if (@coin.Ath > 1) {
                            <p class="text-muted">€@coin.Ath.ToString("N2") (@coin.AthDate)</p>
                        } else {
                            <p class="text-muted">€@coin.Ath.ToString("N8") (@coin.AthDate)</p>
                        }
                    </div>
                    <div class="col-md-3 mt-2">
                        <p>All Time Low</p>
                        @if (coin.Atl > 1) {
                            <p class="text-muted">€@coin.Atl.ToString("N2") (@coin.AtlDate)</p>
                        } else {
                            <p class="text-muted">€@coin.Atl.ToString("N8") (@coin.AtlDate)</p>
                        }
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3 mt-2">
                        <p>Total Volume</p>
                        <p class="text-muted" id="tot_vol">€@coin.TotalVolume</p>
                    </div>
                    <div class="col-md-3 mt-2">
                        <p>Circulating Supply</p>
                        <p class="text-muted" id="circ_supply">@coin.Circulating_Supply</p>
                    </div>
                    <div class="col-md-3 mt-2">
                        <p>Max Supply</p>
                        <p class="text-muted" id="max_supply">@coin.MaxSupply</p>
                    </div>
                    </div>
                    <hr>
                    <h1>Calculator:</h1>
                    <hr>
                    <div class="input-group mb-5">
                    @* @oninput="Calculator" doesnt work as well. *@
                <input type="number" @bind="InputAmount" class="form-control rounded bg-dark text-white" />
                    </div>
                    @if (calculatedAmount > 0) {
                        <p class="mt-3">@calculatedAmount | @coin.Name</p>
                    }
                </div>
                
    }
}
else if (noCoinFound)
{
    <p>No coin found with that ID.</p>
}

@code {
    [Parameter]
    public string? CoinId { get; set; }
    private List<CoinData>? coinData;
    private bool noCoinFound = false;
    private double inputAmount = 100;
    public double InputAmount
    {
        get => inputAmount;
        set
        {
            if (inputAmount != value)
            {
                inputAmount = value;
                Calculator();
            }
        }
    }
    private double calculatedAmount;

    protected override async Task OnInitializedAsync()
    {
        await SearchCoinById();
        Calculator();
    }

    private async Task SearchCoinById()
    {
        if (!string.IsNullOrWhiteSpace(CoinId))
        {
            noCoinFound = false;
            var url = $"https://api.coingecko.com/api/v3/coins/markets?vs_currency=eur&ids={CoinId.ToLower()}";
            var response = await Http.GetAsync(url);
            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                coinData = System.Text.Json.JsonSerializer.Deserialize<List<CoinData>>(json);

                if (coinData == null || coinData.Count == 0)
                {
                    noCoinFound = true;
                }
            }
        }
    }
    public void Calculator() {
        foreach (var coindata in coinData) {
            calculatedAmount = inputAmount / coindata.CurrentPrice;
        }
    }
    public class CoinData
    {
        [JsonPropertyName("id")]
        public string? Id { get; set; }

        [JsonPropertyName("name")]
        public string? Name { get; set; }

        [JsonPropertyName("image")]
        public string? Image { get; set; }

        [JsonPropertyName("current_price")]
        public double CurrentPrice { get; set; }

        [JsonPropertyName("price_change_24h")]
        public double? PriceChange24H { get; set; }

        [JsonPropertyName("price_change_percentage_24h")]
        public decimal? PriceChangePercentage24H { get; set; }

        [JsonPropertyName("market_cap")]
        public decimal MarketCap { get; set; }

        [JsonPropertyName("ath")]
        public decimal Ath { get; set; }

        [JsonPropertyName("ath_date")]
        public DateTime AthDate { get; set; }

        [JsonPropertyName("atl")]
        public decimal Atl { get; set; }

        [JsonPropertyName("atl_date")]
        public DateTime AtlDate { get; set; }

        [JsonPropertyName("total_volume")]
        public decimal? TotalVolume { get; set; }

        [JsonPropertyName("circulating_supply")]
        public decimal? Circulating_Supply { get; set; }

        [JsonPropertyName("max_supply")]
        public decimal? MaxSupply { get; set; }
    }
}
